.main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.source {
	/* width: 500px; */
	height: 100%;
	/* border: 1px solid #000; */
}

.dirPanel, .filePanel {
	width: 100%;
	height: 100vh;
	border: 1px solid #000;
}